git+https://github.com/metwork-framework/xattrfile.git#egg=xattrfile
git+https://github.com/metwork-framework/mfutil.git#egg=mfutil
git+https://github.com/metwork-framework/mfplugin.git#egg=mfplugin
git+https://github.com/thefab/pystatsd.git#egg=statsd
